.activity-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.activity-panel {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 2rem;
  width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  background-color: white;
  position: relative;
}

.activity-panel h2 {
  font-size: 40px;
    font-weight: 800;
    background: linear-gradient(180deg, whitesmoke -5.09%, black 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:  transparent;
    text-align: center;
}

.log-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}

.log-item {
  background: rgba(255, 255, 255, 0.08);
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 0.9rem;
  background: rgba(15, 15, 15, 0.08);
}

.log-text {
  margin-bottom: 0.2rem;
}

.log-time {
  font-size: 0.75rem;
  color: #ccc;
  text-align: right;
}

.empty {
  text-align: center;
  color: #eee;
  font-style: italic;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 1.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
}
