.footer{
    display: flex;
    flex-direction: column; 
    padding: 20px;  
}
.footer-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.privacy{
    display: flex;
    gap: 90px;
}
