/* Components/RegisterCard.css */

.register-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex; 
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.register-card {
  background: white;
  padding: 40px;
  border-radius: 10px;
  width: 320px;
  position: relative;
  display: flex;           
  flex-direction: column;  
  gap: 10px;              
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.register-card input {
  width: 90%;
  padding: 10px;
  padding-left: 20px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
}

.register-btn {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.register-title {
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  background: linear-gradient(180deg, whitesmoke -5.09%, black 100%);
  background-clip:text ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.switch-text {
  text-align: center;
  margin-top: 1rem;
}

.switch-link {
  color: purple;
  cursor: pointer;
}
.switch-link:hover{
    color: blue;
}



.register-btn:hover{
    background: linear-gradient(180deg, whitesmoke -5.09%, black 100%);
    color: black;
    transform: scale(1.04);
    transition: 0.3s;
}